@media (min-width: 0px) {
    body { background-color: #fff; }
    }

@media (min-width: 400px) {
    body { background-color: #fff; }
    }

@media (min-width: 600px) {
    body { background-color: #fff; }
    }


@import "../node_modules/bootstrap/scss/bootstrap";
@import "breakpoints";
